<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}} 
</head>
<body>
	
	
	<!--main header -->
	<div class = "container-fluid main_header">
		<div class = "row">	
			<div class = "col-md-10 col-12 mx-auto">
				<div class = "row">
					<div class = "col-md-12 col-12 main_header_left align-items-center">
						<figure class = "errimg">
						<img src="img/illu.png" class="w-100 img-fluid" alt="Responsive image">
						</figure>
					
						<p> Express Weather App</p>
						<p><span class = "text-color"> {{errorMsg}}</span></p>
						<a href = "/"><button>Go back</button></a>
					</div>
					
					
					
				</div>
				
			</div>
		</div>	
	</div>
	
	{{>footer}}
</body>

</html>