<!DOCTYPE html>
<html lang="en">
<head>
      {{>headerlinks}}
	   
</head>
<body>
	{{>navbar}}
	<!--main header -->
	<div class = "container-fluid main_header">
		<div class = "row">	
			<div class = "col-md-10 col-12 mx-auto">
				<div class = "main_content">
					<form class = "temp_form">
						<input type="text" id = "cityName" placeholder = "Enter city name" autocomplete = "off">
						<input type = "submit" value = "search" id = "submitBtn" onclick = "myFunction()">
						
					</form>
					<p class = "h6 text-center" style="font-size:1.3rem; font-weight:400;
	color:#fff;">Enter the city name to get the weather information</p>
				</div>
				
				
				<div class = "tempInformation"id = "box">
					
					<div class = "top_layer">
						<p id = "day">Tuesday</p>
						<p id = "date">13 OCT</p>
					</div>
					<div class = "main_layer">
						<p id = "city_name">Output Here</p>
						<div class = "middle_layer data_hide">
							<p id  = "temp"><span id = "temp_real_val">0</span><sup>o</sup>C</p>
							<p id = "temp_status"><i class ="fa fa-cloud"></i></p>
						</div>
					</div>
				</div>
				
			</div>
		</div>	
	</div>
	
	{{>footer}}
	<script src = "js/main.js"></script>
	<script>
	const getCurrentDay = () =>{
		
		var weekday = new Array(7);
		weekday[0] = "Sunday";
		weekday[1] = "Monday";
		weekday[2] = "Tuesday";
		weekday[3] = "Wednesday";
		weekday[4] = "Thursday";
		weekday[5] = "Friday";
		weekday[6] = "Satday";
		
		let currentTime = new Date();
		days = weekday[currentTime.getDay()];
		console.log(days);
		let day =  document.getElementById('day');
		day.innerText = days;
		
	};
	
	
	getCurrentDay();
	
	const getCurrentDate = () =>{
		var months = [
			"Jan",
			"Feb",
			"Mar",
			"Apr",
			"May",
			"June",
			"July",
			"Aug",
			"Sept",
			"Oct",
			"Nov",
			"Dec",
		];
		var now = new Date();
		var month = months[now.getMonth()];
		var dates = now.getDate();
		console.log(month + dates);
		const date = document.getElementById('date');
		date.innerText = `${dates} | ${month}`;
	};
	getCurrentDate();
	
	function myFunction() {
		document.getElementById("box").style.height = "35rem";
		document.getElementById("box").style.visibility = "visible";
		
	}
	
	
	
	</script>
</body>

</html>